body{
    background-color:#d5ecc2;
  }
img:hover{
      background-color:yellow;

  }
hr{

  border-style:none;
  border-top-style: dotted;
  border-color:grey;
  border-width: 5px;
  width:5%;
}
h1{
  color:#51c4d3
}
h2{
  color:#51c4d3;
}
h3{
  color:#51c4d3;
}

.program{
  background-color:blue;
}
.my{
  background-color:blue;
}
.circular{
  border-radius:100%;
}
